@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";

.root {
  width: 100%;
  height: 75px;
  background-image: url("/assets/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  & > div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;

    h2 {
      color: $white;
      @include p(0, 2);
    }
  }
}
