@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";
@import "../../Common/Breakpoints.scss";

.root {
  position: absolute;
  display: flex;
  align-items: center;
  top: 58px;
  right: 0;
  width: 350px;
  height: 65px;
  background-color: $error;

  & > div {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include p(4);
  }

  @include borderRadius(2);

  @include breakpoint(sm) {
    width: 300px;
    top: 45px;
  }
}

.success {
  background-color: $success;
}

.description {
  display: flex;
  width: 100%;
  align-items: center;
  @include mb(2);

  p {
    margin: 0;
  }

  span {
    color: $warning;
    @include m(0, 1);
    font-weight: $fontWeightBold;
  }
}

.progress {
  z-index: $zIndexSnackbar;
  width: 100%;
  border-radius: 13px;
  background-color: $errorDark;

  & > div {
    transition: all 1s;
  }
}

.arrowUp {
  position: absolute;
  top: 5px;
  right: 18%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $error;

  @include breakpoint(sm) {
    display: none;
  }
}

.successArrow {
  border-bottom: 8px solid $success;
}
