@import "../../Common//Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  color: $textPrimary;
  font-weight: $fontWeightBold;
  margin: 0;
}
