@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";
@import "../../Common/Breakpoints.scss";

.root {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-right: auto;
  border-right: 5px dotted $greyDark;
  @include pr(4);

  & > p {
    line-height: 1.5rem;

    a {
      text-decoration: underline;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    @include m(3, 0);

    a {
      @include mr(4);
    }
  }

  @include breakpoint(sm) {
    @include pr(0);
    border: 0;
  }
}
