@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 225px;
  width: 100%;
  background-color: $white;
  @include borderRadius(30);

  & > img {
    @include mr(4);

    @include breakpoint(sm) {
      @include mr(0);

      width: 180px;
      height: 180px;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    @include breakpoint(sm) {
      align-items: center;
      width: 100%;
    }
  }

  @include breakpoint(sm) {
    flex-direction: column;
    height: unset;
    align-items: center;
    @include borderRadius(0);
  }
}

.qrContainer {
  display: flex;
  align-items: center;
  @include mb(3);

  & > img {
    @include mr(2);

    @include breakpoint(sm) {
      @include mr(0);
      @include mb(2);
    }
  }

  & > div {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;

      &:last-child {
        font-size: 0.8rem;
        @include mt(1);
      }
    }
  }

  @include breakpoint(sm) {
    flex-direction: column;
    @include m(3, 0);
  }
}

.platformContainer {
  display: flex;

  & > img {
    @include mr(2);
  }

  @include breakpoint(sm) {
    flex-direction: column;
    @include mb(3);
  }
}
