@mixin breakpoint($breakpoint) {
  @if $breakpoint==xs {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 960px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media only screen and (max-width: 1920px) {
      @content;
    }
  }
}
