$main: #044dc3;
$mainDark: darken($main, 10%);
$mainLight: lighten($main, 10%);

$error: #f54257;
$errorDark: darken($error, 10%);
$errorLight: lighten($error, 10%);

$redLight: #ffeae8;
$blueLight: #e8f1ff;
$greenLight: #e2f7e1;

$success: #51b549;
$successDark: darken($success, 10%);
$successLight: lighten($success, 10%);

$warning: #ffce00;
$warningDark: darken($warning, 10%);
$warningLight: lighten($warning, 10%);

$textPrimary: #000;
$textSecondary: #707070;

$grey: #e6e6e6;
$greyLight: #f2f2f2;
$greyDark: #E6E6E6;

$borderGreyLight: #edf1f2;
$borderGreyDark: #e2e7e9;

$black: #000;
$white: #fff;

$fontSize: 16;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$radius: 4;

$zIndexTooltip: 1500;
$zIndexAppBar: 1100;
$zIndexSnackbar: 1400;
