@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m(0, 3);

  & > p {
    color: $main;
    margin: 0;
  }

  & > ul {
    padding: 0;
    list-style: none;

    & > li {
      text-align: center;
      font-size: 0.8rem;
      @include m(2, 0);
    }
  }
}
