@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  display: flex;
  align-items: center;
  height: 50px;
  width: 60%;
  border: 1px solid $borderGreyLight;
  background-color: $greyLight;
  @include borderRadius(7);
  @include p(1, 2);
  @include m(0, 5);

  & > img {
    @include m(0, 2);
  }

  & > input {
    border: none;
    width: 100%;
    background-color: inherit;

    @include p(2, 1);
  }

  & > button {
    border: none;
    height: 40px;
    width: 65px;
    background-color: $success;
    color: $white;
    @include borderRadius(7);
    @include p(2, 1);
  }

  @include breakpoint(sm) {
    width: 100%;
  
    @include m(0);
    @include mt(2);
  }
}
