@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;

  @include p(0, 2);

  & > h3 {
    color: $main;
  }

  & > div {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 100px;

    img {
      @include mr(2);
    }
  }

  & > section {
    ul {
      display: grid;
      grid-gap: 10px;
      list-style: none;
      padding: 0;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      @include breakpoint(sm) {
        grid-template-columns: 1fr;

        a {
          width: 100%;
        }
      }
    }
  }
}
