@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  @include p(3, 2);

  & > div {
    display: flex;
    align-items: center;

    img {
      @include mr(2);
    }

    h3 {
      color: $textSecondary;
    }
  }

  & > section {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  & > p {
    width: 100%;
    color: $textSecondary;
  }
}

.campaigns {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  @include p(5, 0);

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }
}

.campaignItemMotor {
  background-color: $greenLight;
}

.campaignItemGift {
  background-color: $blueLight;
}

.campaignItemNote {
  background-color: $redLight;
}
