@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $greyLight;
  padding-top: 150px;

  @include breakpoint(sm) {
    padding-top: 75px;
  }
}

.topSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1440px;

  & > p {
    text-align: center;
    font-size: 0.9rem;
    padding: 0 75px 50px 75px;

    @include breakpoint(sm) {
      padding: 0 15px 25px 15px;
    }
  }
}

.bottomSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 60px;
  text-align: center;
  font-size: 0.8rem;
  background-color: $greyDark;
}

.navSection {
  display: flex;
  width: 100%;
  padding: 100px 75px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;

  @include breakpoint(sm) {
    flex-direction: column;
    padding: 50px 15px;
  }
}
