@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  display: flex;
  width: 480px;
  align-items: center;
  @include borderRadius(4);
  @include p(2);

  & > img {
    @include mr(4);
  }

  & > div {
    display: flex;
    flex-direction: column;

    p {
      color: $textSecondary;
    }

    button {
      background-color: $white;
      color: $error;
      height: 30px;
      width: 144px;
      font-weight: $fontWeightBold;
      border: none;

      @include borderRadius(7);
      @include m(1, 0);
    }
  }

  @include breakpoint(sm) {
    flex-direction: column;
    align-items: unset;
    width: 100%;
  }
}
