@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-bottom: 1px solid $greyLight;

  & > div {
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
  }

  @include p(2);

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.desktop {
  display: flex;
  width: 100%;

  @include breakpoint(sm) {
    display: none;
  }
}

.mobile {
  display: none !important;
  
  @include breakpoint(lg) {
    display: none !important;
  }

  @include breakpoint(sm) {
    display: flex !important;
  }
}
