@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 45px;
  background-color: $white;
  color: $textSecondary;
  border: 1px solid $borderGreyDark;
  font-weight: $fontWeightMedium;
  transition: all 0.3s;

  &:hover {
    opacity: 0.9;
  }

  @include borderRadius(2);
}

.active {
  border: 1px solid $main;
  background-color: $main;
  color: $white;
}
