@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";
@import "../Common/Breakpoints.scss";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 460px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid $borderGreyDark;
  box-shadow: 0 0 0 1.5px transparent;

  img {
    margin: auto;
  }

  &:hover {
    box-shadow: 0 0 0 1.5px $greyDark;
  }

  & > div {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  @include p(3);
  @include borderRadius(2);

  @include breakpoint(sm) {
    align-items: center;

    & > div {
      width: 100%;
    }
  }
}
