@import "../Common/Mixins.scss";
@import "../Common/Spacing.scss";
@import "../Common/Variables.scss";

.root {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 0.9rem;
  max-width: 1440px;
  @include p(0, 2);

  & > div {
    display: flex;
    align-items: center;

    &:last-child {
      color: $success;
    }

    span {
      @include m(0, 2);
    }
  }
}
