@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";

.addToBasket {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $main;
  background-color: $white;
  color: $main;
  height: 40px;
  width: 100%;
  flex-shrink: 0;
  margin-top: auto;

  @include borderRadius(7);
}

.basketActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $borderGreyDark;
  margin-top: auto;

  & > div {
    display: flex;
    align-items: center;
  }

  & > span {
    color: $textPrimary;
    font-weight: $fontWeightBold;
  }

  @include p(1);
  @include borderRadius(7);
}
