@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";

.root {
  width: 25px;
  height: 25px;
  color: $white;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: $errorLight;

  @include p(1);
}
