@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";
@import "../../Common/Breakpoints.scss";

.root {
  position: relative;
  background-color: $main;
  border: 1px solid $main;
  width: 150px;
  height: 50px;
  margin-left: auto;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include borderRadius(10);

  & > img {
    @include mr(1);
  }

  @include breakpoint(sm) {
    width: 100px;
    height: 40px;
  }
}

.badge {
  position: absolute;
  right: -5px;
  top: -5px;
}
