@import "../../Common/Mixins.scss";
@import "../../Common/Spacing.scss";
@import "../../Common/Variables.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  color: $textPrimary;
  font-weight: $fontWeightBold;
  font-size: 0.8rem;
}
